{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    <div class="form-group form-group-lg" id="fos_user_change_password_form">
        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans } }) }}
        {{ form_errors(form.username) }}
        <br>
        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
        {{ form_errors(form.email) }}
        <br>
        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'placeholder': 'form.current_password'|trans } }) }}
        {{ form_errors(form.current_password) }}
        <br>
        {{ form_rest(form) }}
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
    </div>
{{ form_end(form) }}
