{% extends "::layout.html.twig" %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for key, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            {{ key }}
            <div class="alert alert-{{ key }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}


    {% block bundle_body %}
    {% endblock %}



{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% block bundle_javascript %}
    {% endblock %}
{% endblock javascript %}